<% if current_user && current_user.admin? %>
    <div class="container">
        <div class="container border rounded bg-light p-3 mt-5">
            <h1 class="text-center mb-3">Registro de Nuevos Vinos</h1>

            <%= form_with(model: @wine, local: true) do |f| %>
                <div class="mb-3">
                    <span class="d-flex flex-row">
                        <div class="mr-3 mt-2">
                            <%= f.label 'Nombre' %>
                        </div>
                        <%= f.text_field :name, class:'form-control', size:'40' %>
                    </span>
                </div>
                
                <% if @strains.count > 0 %>

                    <p class="text-info">Selecciona la cepa en la columna de la izquierda e ingresa su porcentaje en la columna de la derecha.</p>
                    
                    <table class="table table-bordered">
                        <td><strong>Cepas Disponibles</strong></td>
                        <td><strong>Porcentaje Mezcla</strong></td>
                        <% @strains.each do |strain| %> 
                            <tr>
                                <td>
                                    <%= check_box(:wine, :strain_ids, {multiple: true}, strain.id, nil) %>
                                    <%= strain.name %>
                                </td>

                                <td>
                                    <input 
                                        type="number" 
                                        name="wine[strain_percent][]" 
                                        id="wine_strain_percent_<%= strain.id %>" 
                                        min="0"
                                        max="100"
                                        step="5"
                                        >
                                </td>
                            </tr>
                        <% end %>

                    </table>
                <% else %>
                    <h5> No hay cepas disponibles </h5>
                <% end %>

                <div class="mt-4">
                    <%= f.submit 'Guardar Vino', class:'btn btn-primary' %>
                </div>
            <%end%>
        </div>
    </div>
<% end %>

<div class="container mt-5">
    <%= render 'wines' %>
</div>
